<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
	<%- include('../partials/header') %>
	<main class="container">
		<div class="product-form">
			<h1>Editar producto</h1>
			<form action="/products/edit/<%= id %>?_method=PUT" method="POST" enctype="multipart/form-data">
				<input type="text" placeholder="Nombre del producto" name="name" value="<%= product.name %>">
				<input type="text" placeholder="Marca" name="brand" value="<%= product.brand ? product.brand : "" %>">

				<input type="number" placeholder="Precio" name="price" value="<%= product.price %>">
				<input type="number" placeholder="Descuento" name="discount" value="<%= product.discount %>">

				<input type="text" name="descriptionTitle" id="descriptionTitle" placeholder="Titulo de la descripcion" value="<%= product.descriptionTitle %>">
				<textarea placeholder="Descripción" name="description" rows="10"><%= product.description %></textarea>
				<input type="number" placeholder="Stock" name="stock" value="<%= product.stock %>">
				<textarea name="specs" id="" cols="30" rows="10"
					placeholder="Caracteristicas"><%= product.specs %></textarea>
				<input type="text" placeholder="Categoría" name="category" value="<%= product.category %>">
				<input type="text" placeholder="Color (opcional)" name="color"
					value="<% product.color ? product.color : "" %>">
				<% if (product.image) { %>
					<img class="product-img" src="/img/products/<%= product.image %>" alt="">
				<% } %>
				<div class="select-new-image">
					<label for="image">Reemplazar imagen:</label>
					<input class="product-form__image" type="file" name="image" id="image">
				</div>

				<button type="submit" class="product-form__button">Confirmar</button>
			</form>
		</div>
	</main>
	<%- include('../partials/footer') %>
</body>

</html>