<!doctype html>
<html lang="en">
<%- include('../partials/head') %>

<body>
	<%- include('../partials/header') %>
	<main class="container">
		<section class="product">
			<section class="product-photos">
				<div class="product-photos__more-photos">
					<img src="/img/products/<%= product.image %>" alt="" />
					<img src="/img/products/<%= product.image %>" alt="" />
					<img src="/img/products/<%= product.image %>" alt="" />
					<img src="/img/products/<%= product.image %>" alt="" />
				</div>
				<div class="product-photos__main-photo">
					<img src="/img/products/<%= product.image %>" alt="" />
				</div>
			</section>
			<section class="product__information">
				<p class="product__information__nombre-del-producto">
					<%= product.name %>
				</p>
				<p class="product__information__precio-del-producto">
					$<%= toThousand(product.price) %>
				</p>
				<div class="product__information__descripcion-del-producto">
					<h3><%= product.descriptionTitle %></h3>
					<p><%= product.description %></p>
				</div>
				<p class="product__information__stock-disponible">
					Stock disponible:<br /><%= product.stock %>
				</p>
				<section class="product__buttons">
					<span>
						<button class="product__buttons__comprar-ahora">
							Comprar ahora
						</button>
						<button class="product__buttons__agregar-al-carrito">
							Agregar al carrito
						</button>
					</span>
				</section>
			</section>
			<section class="product__specs">
				<p class="product__specs__características-título">
					Características del producto
				</p>
				<div class="product__specs__características-del-producto">
					<% (product.specs.split('\r\n')).forEach(paragraph => { %>
						<p><%= paragraph %></p>
					<% }) %>
				</div>
			</section>
			<section class="product__edit-or-delete">
				<a href="/products/edit/<%= product.id %>" class="product__edit-or-delete__button-edit">Editar</a>
				<form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
					<button type="submit" class="product__edit-or-delete__button-delete">Eliminar</button>
				</form>
			</section>
		</section>
		<section class="related-products">
			<p class="related-products__título">Productos relacionados</p>
			<div class="related-products__more-products">
				<div class="related-products__more-products__nombre-del-producto">
					<p>Nombre del producto</p>
					<img src="/img/product.jpg" alt="" />
				</div>
				<div class="related-products__more-products__nombre-del-producto">
					<p>Nombre del producto</p>
					<img src="/img/product.jpg" alt="" />
				</div>
				<div class="related-products__more-products__nombre-del-producto">
					<p>Nombre del producto</p>
					<img src="/img/product.jpg" alt="" />
				</div>
				<div class="related-products__more-products__nombre-del-producto">
					<p>Nombre del producto</p>
					<img src="/img/product.jpg" alt="" />
				</div>
			</div>
		</section>
	</main>
	<%- include('../partials/footer') %>
</body>

</html>
</main>
<%- include('../partials/footer') %>
</body>

</html>